.httr-oauth
desktop.ini
.Rproj.user
.Rproj
.gdoc


data/competition_experiment_isolates.csv
data/diverse_lichens.csv
data/replicate_isolates.csv

code/*

Data_analysis_summary_cache
Data_analysis_summary_files

